
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
body {
  background: #FFA69E;
  padding: 25px 50px;
  font-size: 1.6em;
  font-weight: 500;
}
@font-face {
  font-family: 'DeliusSwashCaps';
  src: url('../Assets/DeliusSwashCaps-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
header {
  width: 100%;
  height: 500px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border: 3px solid #fff;
  background: url(../Assets/annie-spratt-MsIU8vZ5jMw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'DeliusSwashCaps', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  padding-top: 150px;
  font-size: 1.5em;
  color: #fff;
  text-shadow: 2px 2px 3px #333;
}
  header > p {
    color: #86BA90;
    margin-top: -25px;
    background: rgba(255, 255, 255, .33);
  }
section {
  width: 100%;
  min-height: 300px;
  padding: 100px 50px;
  border: 3px solid #fff;
}
#aboutSection {
  background: #fff;
  color: #333;
  font-size: 1.2em;
}
  .fancyHeading {
    font-family: 'DeliusSwashCaps', sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 20px;
    text-decoration: underline;
  }
/*
  #000 - black
  #f00 - red
  #0f0 - green
  #00b - blue
  #fff - white
*/
#careerGoals {
  background: #002626;
  color: #fff;
  font-size: 1.2em;
  padding-left: 100px;
}
#workSamples {
  background: #fff;
  color: #333;
  text-align: center;
}
  .thumbnail {
    width: 20%;
    border: 3px solid #777;
    border-radius: 16px;
    box-shadow: 2x 3px 5px #222;
  }
#contact {
  background: #002626;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  font-size: 1.2em;
}
  #contact > a:link {
    color: #fff;
  }
footer {
  text-align: right;
  padding-right: 50px;
  padding-top: 10px;
  color: #fff;
}